@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*
added colors
table th 006b68
*/
@import url('reset.css');
/* General Demo Style */
html *{
	font-family: 'Poppins', sans-serif;
}
.heading{
	text-align: center;
	padding: 50px;
    font-size: 4rem;
    font-weight: bolder;
}
.login{
	text-align: center;
	font-size: x-large;
    font-family: 'Poppins', sans-serif;
	border: outset;
}
body{
	/* background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
    background-size: 160rem 80rem; */
	margin-left:auto;
	margin-right:auto;
	background-color: #cbf1f5;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #000;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 20px;
}
.container{
	position:relative;
	/* background: #b5b5b5; */
}
a{
	color: #b30c0c;/*#fff */
	text-decoration: none;
}
.clr{
	clear: both;
}

h1{
	margin:0px;
	padding:20px;
	font-size:80px;
	color:#000;
	text-align:center;
	font-weight:1000;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
h1 span{
	font-size:22px;
	color:#000;
	padding-top:10px;
}
/* Header Style */
.header{
	width: 100%;
	height: 80px;
	padding-top: -10px;
}
.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 50px;
	font-size: 15px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.head{
	text-align: center;
	display: block;
	font-size: xx-large;
	font-weight: bold;
    color: white;
	padding-top: 20px;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: black; /*change colors #ddd*/
	display: block;
	float: left;
	font-size: x-large;
	padding-right: 10px;
}
.header a:hover{
	color: #0f9;/*#fff*/
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}
.lcontent{
	position: relative;
    width:12%;
	height: 12%;
    margin: 0px 5px;
	float:left;
	opacity:0.9;
	padding-bottom:100px;
}
.lcontent:hover {
	position: relative;
    width:12%;
    margin: 0px 5px;
	float:left;
	opacity:0.9;
	padding-bottom:100px;
}
.rcontent{
	position:relative;
	width:84%;
	margin:0px 5px;
	float:left;
	overflow:auto;
	padding-bottom:100px;
}
#contentbox{
	width:80%;
	/* height: 400px; */
	margin: 20px;
	background-color:#FFFFFF;
	border-radius:10px;
	-moz-border-radius: 15px;
	-moz-box-shadow:    1px 2px 5px 1px #000;
    -webkit-box-shadow: 1px 2px 5px 1px #000;
    box-shadow:         1px 2px 5px 1px #000;
	opacity: 0.9;
	overflow: auto;
}
#contentbox a{
	color:#006b68;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}
.mcontent{
	width:30%;
	margin-left:auto;
	margin-right:auto;
}
#flex{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#flex1{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#data{
	padding:10px;
	/* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap; */
}
.footer{
	position:relative;
	text-align:center;
	width: 100%;
	height: 100px;
	margin-top:-100px;
	color:#0f9;
	font-size:15px;
	opacity: 0.9;
	z-index: 9999;
	bottom:0;
	background: #000;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	clear:both;
}
#itemList{
	width:100%;
}
#itemList a{
	color:#006b68;
}
#itemList a:hover{
	color:#006b68;
	text-decoration:underline;
}
#itemList th,td{
	padding:5px;
	text-align:center;
}

#itemList tr:nth-child(even){
	background-color: #CCC;
}
#itemList tr:nth-child(odd){
	background-color:#fff;
}
#itemList tr:nth-child(1){
	background-color:#006b68;
	color:#fff;
}

input[type="submit" i] {
	position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

input[type="submit" i]:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}

input[type="submit" i]:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
  }